API_KEY=https://api.asesadmin.com/api/v2/whatsmiau
WEBHOOK_URL=https://api.asesadmin.com/api/v2/whatsmiau

STACK_NAME=whatsmiau
AWS_REGION=us-east-1
AWS_PROFILE=ases

ECR_REPO_BACKEND=whatsmiau
ECR_REPO_ROUTER=whatsmiau-router
