API_KEY=https://api.asesadmin.com/api/v2/whatsmiau
WEBHOOK_URL=https://api.asesadmin.com/api/v2/whatsmiau

STACK_NAME=whatsmiau
AWS_REGION=us-east-1
AWS_PROFILE=ases

## All bellow is optional
DIALECT_DB=
DB_URL=

GCS_ENABLED=
GCS_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS=

GCL_APP_NAME=
GCL_ENABLED=

API_KEY=

EMITTER_BUFFER_SIZE=
HANDLER_SEMAPHORE_SIZE=

PROXY_ADDRESSES=
PROXY_STRATEGY=
PROXY_NO_MEDIA=
